$bg-color: #ffffff;
$second-bg-color: #EDF7FA;
$text-color: #21243D;
$header-button-color: #000000;
$year-text-color: #142850;
$year-right-text-color: #8695A4;
$view-all-button-color: #00A8CC;
$download-button-color: #FF6464;
$line-color: #E0E0E0;
$font-base: 'Heebo', sans-serif;

@font-face {
  font-family: 'Heebo';
  src: url('/fonts/Heebo-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Heebo';
  src: url('/fonts/Heebo-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Heebo';
  src: url('/fonts/Heebo-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Heebo';
  src: url('/fonts/Heebo-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Heebo';
  src: url('/fonts/Heebo-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Heebo';
  src: url('/fonts/Heebo-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Heebo';
  src: url('/fonts/Heebo-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@mixin title-font {
  font-weight: 700;
  font-size: 44px;
  line-height: 136%;
  color: $text-color;
}
@mixin second-title-font {
  font-weight: 700;
  font-size: 26px;
  color: $text-color;
}
@mixin third-title-font {
  font-weight: 700;
  font-size: 30px;
  color: $text-color;
}
@mixin four-title-font {
  font-weight: 400;
  font-size: 22px;
  line-height: 273%;
  color: $text-color;
}
@mixin header-font {
  font-weight: 500;
  font-size: 20px;
  text-align: right;
  color: $header-button-color;
}
@mixin description-font {
  font-weight: 400;
  font-size: 16px;
  color: $text-color;
}
@mixin recent-posts-font {
  font-weight: 400;
  font-size: 22px;
  line-height: 273%;
  color: $text-color;
}
@mixin red-button {
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  border-radius: 2px;
  width: 208px;
  height: 47px;
  border: none;
  outline: none;
  background: $download-button-color;
}
@mixin year-button {
  border-radius: 16px;
  width: 62px;
  height: 25px;
  background: #142850;
  font-weight: 900;
  font-size: 15px;
  line-height: 333%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2px;
}
@mixin year-right-text-color {
  font-weight: 400;
  font-size: 20px;
  color: $year-right-text-color;
}
@mixin view-all-button-color {
  font-weight: 400;
  font-size: 16px;
  text-align: right;
  color: $view-all-button-color;
  border: none;            // убираем черную рамку
  outline: none;
  background: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: $text-color;
}
.wrapper {
  max-width: 1152px;
  margin: 0 auto;
}
body {
  font-family: $font-base;
}
.header {
  padding-top: 15px;
  padding-right: 60px;
  @include header-font;
  position: relative;
  z-index: 2;

  &__content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__menu {
    &-list {
      display: flex;
      gap: 33px;
    }
  }
}

.hero {
  border: 1px solid red;
  margin-top: 140px;
  position: relative;

  &__content {
    border: 1px solid red;
    margin-bottom: 71px;
    display: flex;
    padding-left: 148px;
  }
  &__information {
    display: flex;
    flex-direction: column;
  }
  &__title {
    @include title-font;
    border: 1px solid red;
    padding-top: 18px;
    margin-bottom: 40px;
  }
  &__description {
    @include description-font;
  }
  &__red-button {
    @include red-button;
    margin-top: 38px;
  }
  &__image {
    padding-left: 106px;
  }
}

.posts {
  background-color: $second-bg-color;
  border: 1px solid red;
  position: relative;
  height: 396px;

  &__content {
    padding-left: 148px;
    border: 1px solid red;
  }
  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__view-all {
    @include view-all-button-color;
    margin-right: 148px;
  }
  &__recent-posts {
    @include recent-posts-font;
  }
  &__blocks {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 2px;
    border: 1px solid red;
  }
  &__news {
    background-color: $bg-color;
    border-radius: 4px;
    width: 418px;
    height: 295px;
    padding-top: 24px;
    padding-left: 23px;
    justify-content: space-between;
  }
  &__title {
    @include second-title-font;
  }
  &__date {
    padding-top: 17px;
  }
  &__description {
    padding-top: 23px;
  }
}

.featured {
  background-color: $bg-color;
  border: 1px solid red;
  position: relative;
  height: 868px;

  &__content {
    padding-left: 148px;
    border: 1px solid red;
  }
  &__main-title {
    @include four-title-font;
    padding-top: 15px;
    padding-bottom: 22px;
  }
  &__works {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
  }
  &__work {
    display: flex;
    flex-direction: row;
    border: 1px solid red;
  }
  &__info {
    padding-left: 18px;
  }
  &__title {
    @include third-title-font;
  }
  &__second-info {
    display: flex;
    flex-direction: row;
    padding-top: 12px;
    padding-bottom: 17px;
  }
  &__year {
    @include year-button;
  }
  &__type {
    @include year-right-text-color;
    padding-left: 26px;
  }
  &__line {
    border-top: 1px solid #e0e0e0;
    margin-top: 15px;
    padding-bottom: 44px;
  }
}
